.experience__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    height: fit-content !important;
    margin-top: 6rem !important;
}
.experience__container > div{
    background: var(--color-bg-variant);
    padding: 3.4rem 5rem 7rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience__container > div:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experience__container >div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
    margin-bottom: 4rem;
}

.experience__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
}

.experience__details{
    display: flex;
    gap: 1rem;
}

.experience__details-icon{
    margin-top: 6px;
    color: var(--color-primary);
}


/*===Media queries medium size====*/
@media screen and (max-width: 1024px) {
    .experience__container{
        grid-template-columns: 1fr;
        margin-top: 4rem !important;
    }

    .experience__container > div{
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experience__container > div h3{
        margin-bottom: 2rem;
    }

    .experience__content{
        padding: 1rem;
    }
}


/*===Media queries small size====*/
@media screen and (max-width: 600px) {
    .experience__container{
        gap: 1rem;
    }
    .experience__container > div{
        width: 100%;
        padding: 2rem 1rem;
    }

}